<h1 class="pageTitle">Thane District Available Vaccination Slot List</h1>
<div class="container">
    <div class="top-panel">
        <input class="search" type="text" placeholder="Search By Pincode/Name" id="txtSearch1" [(ngModel)]="pincode" />
        <input value="0" [(ngModel)]="dose" name="dosage" type="radio" checked id="both" class="checkbox" />
        <label for="both">Both</label>
        <input value="1" [(ngModel)]="dose" name="dosage" type="radio" id="dose1" class="checkbox" />
        <label for="dose1">1st Dose</label>
        <input value="2" [(ngModel)]="dose" name="dosage" type="radio" id="dose2" class="checkbox" />
        <label for="dose2">2nd Dose</label>

    </div>
    <div class="mobile-scroll">
        <div class="dates">
            <a (click)="getNext(item)" *ngFor="let item of dateList">{{item| date:'mediumDate'}}</a>
        </div>
    </div>
    <div class="slotList">
        <div class="singleSlot" *ngFor="let item of slots | isValid :pincode:dose">
            <h4>{{item.name}}</h4>
            <address>{{item.address}}</address>
            <div class="allVaccine">
                <h5>{{item.vaccine}} <span [ngClass]="{'age18': item.min_age_limit == 18}">{{item.min_age_limit}}+</span></h5>
                <div class="vaccine" [ngClass]="{'disable': item.available_capacity_dose1 == 0}">
                    <h2>1st Dose</h2>
                    <h3>{{item.available_capacity_dose1}}</h3>
                    <h4>
                        <div *ngIf="item.fee > 0;then content else other_content"></div>
                        <ng-template #content>{{item.fee}}</ng-template>
                        <ng-template #other_content></ng-template>
                    </h4>
                </div>
                <div class="vaccine" [ngClass]="{'disable': item.available_capacity_dose2 == 0}">
                    <h2>2nd Dose</h2>
                    <h3>{{item.available_capacity_dose2}}</h3>
                    <h4>
                        <div *ngIf="item.fee > 0;then content else other_content"></div>
                        <ng-template #content>{{item.fee}}</ng-template>
                        <ng-template #other_content></ng-template>
                    </h4>
                </div>
            </div>
            <div class="footer">
                <span>{{item.pincode}}</span>
                <span>{{item.from.substring(0,5)}} - {{item.to.substring(0.,5)}}</span>
            </div>
        </div>
    </div>
    <h2 class="filledup">- Filled up completely -</h2>
    <div class="slotList empty">
        <div class="singleSlot" *ngFor="let item of empty | isValid :pincode:dose">
            <h4>{{item.name}}</h4>
            <address>{{item.address}}</address>
            <div class="allVaccine">
                <h5>{{item.vaccine}} <span [ngClass]="{'age18': item.min_age_limit == 18}">{{item.min_age_limit}}+</span></h5>
                <div class="vaccine" [ngClass]="{'disable': item.available_capacity_dose1 == 0}">
                    <h2>1st Dose</h2>
                    <h3>{{item.available_capacity_dose1}}</h3>
                    <h4>
                        <div *ngIf="item.fee > 0;then content else other_content"></div>
                        <ng-template #content>{{item.fee}}</ng-template>
                        <ng-template #other_content></ng-template>
                    </h4>
                </div>
                <div class="vaccine" [ngClass]="{'disable': item.available_capacity_dose2 == 0}">
                    <h2>2nd Dose</h2>
                    <h3>{{item.available_capacity_dose2}}</h3>
                    <h4>
                        <div *ngIf="item.fee > 0;then content else other_content"></div>
                        <ng-template #content>{{item.fee}}</ng-template>
                        <ng-template #other_content></ng-template>
                    </h4>
                </div>
            </div>
            <div class="footer">
                <span>{{item.pincode}}</span>
                <span>{{item.from.substring(0.,5) }} - {{item.to.substring(0.,5) }}</span>
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>